html {
  cursor: none;
}

.cursor-none {
  cursor: none;
  & * {
    cursor: none;
  }
}

.initial-body {
  cursor: initial;
  & * {
    cursor: initial;
  }
}

.cursor-border {
  position: fixed;
  border-radius: 50%;
  pointer-events: none;
  border: 1px solid white;
  transform: translate(-50%, -50%);
  z-index: 9999;
  width: 35px;
  height: 35px;
  transition: width 0.2s linear, height 0.2s linear;
  cursor: none;
}

.cursor-dot {
  z-index: 9999;
  border-radius: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
  background-color: white;
  pointer-events: none;
  width: 5px;
  z-index: 1000;
  height: 5px;
  cursor: none;
  transition: width 0.2s linear, height 0.2s linear;
}

.smaller-cursor-border {
  width: 25px;
  height: 25px;
}

.transition-none {
  transition: none;
}
